/* body{
    background-color: cadetblue;
    color: blue
    
} */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

body {
  padding-top: 50px;
}


#section-imgs{
  background: linear-gradient(black, green); color: #cf9; padding: 10%;
}
#section-contrib {
  height: 800px;
  padding: 10%;
}


#section-events { 
  background: linear-gradient(to bottom, 
  orange,
  green ,
  purple); 
  color: #cf9; padding: 10%;
}
#section-expenses  { 
  background: linear-gradient(to bottom, 
  purple,
  blue ,
  orange); 
  color: #cf9; padding: 10%;
}
#section-memes   { 
  background: linear-gradient(to bottom, 
  orange,
  red ,
  purple); 
  color: #cf9; padding: 10%;
}

table{
  color:green
}