/* body{
    background-color: cadetblue;
    color: blue
    
} */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

body {
  padding-top: 50px;
}


#section-imgs{
  background: linear-gradient(black, rgb(21, 24, 41)); color: #cf9; padding: 10%;
}
#section-contrib {
  background-color: black;
  color: cyan;
  height: 800px;
  padding: 10%;
}


#section-events { 
  background: linear-gradient(to bottom, 
  orange,
  red ,
  purple); 
  color: #cf9; padding: 10%;
}
#section-expenses  { 
  background: linear-gradient(to bottom, 
  black,
  blue ,
  black); 
  color: #cf9; padding: 10%;
}
#section-memes   { 
  background: linear-gradient(to bottom, 
  black,
  grey ,
  black); 
  color: #cf9; padding: 10%;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;
  border: solid 3px white;
}
th{
  padding-left: 25px;
  padding-right: 25px;
  color: lightblue
}
td{
  padding-left: 25px;
  padding-right: 25px;
  color: lightblue
}