/* body{
    background-color: cadetblue;
    color: blue
    
} */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

body {
  padding-top: 50px;
}

#section-green,
#section-blue,
#section-red,
#section-start,
#section-stop {
  height: 800px;
  padding: 10%;
}

#section-green { background: linear-gradient(red, white, blue); color: #cf9; padding: 10%;}
#section-blue  { background: #69c; color: #9cf; padding: 10%;}
#section-red   { background: #c69; color: #f9c; padding: 10%;}

table{
  color:green
}